.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: cover;
  height: cover;
  /* background: rgba(38, 12, 131, 1);
  border: 5px solid rgb(110, 67, 67); */
  padding: 10px;
}

.modal-main {
  position:fixed;
  background: rgb(190, 76, 190);
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 5px solid rgb(110, 67, 67);
  color: aliceblue;
}

img {
  border: 5px solid black;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}